footer {
    background-color: #005093;
    color: white;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p, footer h3 {
    text-align: center;
}

footer p {
    font-size: small;
}