.navbar {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    padding: 1rem 0;
}

.nav-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    color: #005093;
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-item span {
    font-size: medium;
}

.nav-item:hover {
    background-color: #005093;
    color: white;
}


.nav-item img {
    width: 1rem;
    height: 1rem;
    filter: brightness(0) saturate(100%) invert(21%) sepia(98%) saturate(1729%) hue-rotate(188deg) brightness(94%) contrast(101%);
    transition: filter 0.3s ease;
}

.nav-item:hover img {
    filter: brightness(0) invert(1);
}