@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap');

html {
    color: #005093;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#react-entry-point {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
}

#main-content {
    flex: 1;
}

#year-slider {
    width: 50rem  !important;
}

#year-slider .rc-slider-track {
    background-color: #005093 !important;
}

#year-slider .rc-slider-handle {
    border-color: #FFF !important;
    background-color: #005093 !important;
}

#year-slider .rc-slider-handle:hover {
    border-color: #003d73 !important;
}

#year-slider .rc-slider-rail {
    background-color: #d3d3d3 !important;
}

.valeur-mesuree {
    font-weight: lighter;
    font-size: medium;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #005093;
    cursor: help;
    font-weight: 200;
    font-size: xx-small;
}

.legend {
    display: flex;
    flex-direction: column;
}

.tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-weight: 200;
    font-size: xx-small;
    padding: 10px;
    border-radius: 6px;

    position: absolute;
    z-index: 1000;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.below-map {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.top-map, .btm-map {
    width: 100%;
}

#nb-pays, #polluant {
    text-align: center;
}

.legende, .buttons-polluants {
    margin: 2rem;
}

.ranking {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    border: 1px solid #003d73;
    border-radius: 10px;
    margin: 2rem;
}

tr, td, th {
    padding: 1rem 3rem;
    text-align: center;
}

